{% extends "base.html" %}
{% block title %}Add Workout {% endblock title %}

{% block content %}
<h1>Add Workout</h1>
<form action="{% url 'add_workout' %}" method="POST">
    {% csrf_token %}
    {{ workout_form }}
    <div class="row">
        {{ workout_form.date }}
    </div>
    <div class="row">
        <div class="col">
            {{ exercise_set_form.reps }}
        </div>
        <div class="col">
            {{ exercise_set_form.exercise }}
        </div>
    </div>

    <div class="row">
        <div class="col md-2">
            <input type="submit" value="Save" class="wo-button">
        </div>
    </div>
    </div>
</form>
{% endblock content %}