{% extends "base.html" %}
{% block title %}Add Workout {% endblock title %}

{% block content %}
<h1>Add Exercise</h1>
<form method="POST">
    {% csrf_token %}
    {{ exercise_form }}
    
    <div class="row">
        <div class="col md-2">
            <a href="{% url 'edit_exercise_list' %}" class="wo-button">
                Cancel
            </a>
        </div>
        <div class="col md-2">
            <input type="submit" value="Save" class="wo-button">
        </div>
    </div>
</form>
{% endblock content %}