{% extends "base.html" %}
{% block title %}Edit Workout {% endblock title %}

{% block content %}
<h1>Edit Workout</h1>
<form action="{% url 'edit_workout' workout_form.instance.id %}" method="POST">
    {% csrf_token %}
    {{ workout_form }}
    <div class="row">
        {{ workout_form.date }}
    </div>    

    {% for workout_exercise in workout_exercise_list %}
    <div class="row">
        
        {% if forloop.last %}
        <!--
            If user changes the value of this drop-down list, of this last element,
            then an event lister will be called 
             which will submit the form and apply the change to the model.
             The event listener is defined in the script at the bottom of this document
             and it will use the 'last_exercise_id '
        -->
        <script>let last_exercise_id = "{{ workout_exercise_form.exercise.auto_id }}"; </script>        
        <div class="col">
            {{ workout_exercise_form.exercise }}
        </div>        
        <div class="col">
            <a href="{% url 'edit_exercise_set' workout_exercise_form.instance.id %}">Edit</a>
        </div>
        <div class="col">
            <a href="{% url 'delete_workout_exercise' workout_exercise_form.instance.id workout_form.instance.id %}">Delete</a>
        </div>
        {% else %}
        
        <div class="col">
            {{ workout_exercise.exercise.name }}
        </div>
        <div class="col">
            <a href="{% url 'edit_exercise_set' workout_exercise.id %}">Edit</a>
        </div>
        <div class="col">
            <a href="{% url 'delete_workout_exercise' workout_exercise.id workout_form.instance.id %}">Delete</a>
        </div>
        {% endif %}
        
    </div>
    {{ workout_exercise_form.id }}
    {% endfor %}
    <div class="row">
        <div class="col md-4">
            <a href="{% url 'add_workout_exercise' workout_form.instance.id %}">Add Exercise</a>
        </div>
    </div>
    <div class="row">
        <div class="col md-2">
            <a href="{% url 'home' %}" class="wo-button">
                Cancel
            </a>
        </div>
    </div>
</form>
<script>
    let last_exercise = document.getElementById(last_exercise_id);
    last_exercise.addEventListener('change', function (event) {
        // alert(event.target.value);
        document.forms[0].submit();
    });
</script>
{% endblock content %}