{% extends "base.html" %}
{% block title %}Edit Exercise List {% endblock title %}

{% block content %}
<h1>Edit Exercise List</h1>
<form action="{% url 'edit_exercise_list' %}" method="POST">

    {% csrf_token %}
    <div class="container-fluid">
        {% for exercise in page_obj %}
        <div class="row">
            <div class="col-5 entry-column">
                <a href="{% url 'edit_exercise' exercise.id %}" class="url-link"><i
                        class="fa-solid fa-pen-to-square"></i>{{ exercise.name }}</a>

            </div>
            <div class="col-4 entry-column">
                {% if exercise.type == 0 and exercise.goal == 0 %}
                Strength <br> Repetitions
                {% elif exercise.type == 0 and exercise.goal == 1 %}
                Strength <br> Distance
                {% elif exercise.type == 1 and exercise.goal == 0 %}
                Cardio <br> Repetitions
                {% else %}
                Cardio <br> Distance
                {% endif %}
            </div>
            <div class="col entry-column">
                <a href="{% url 'delete_exercise' exercise.id %}" class="url-link"><i
                        class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1"><i class="fa-solid fa-backward-fast"></i></a>
                <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-backward"></i></a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-forward"></i></a>
                <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-forward-fast"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Empty form -->
        <div class="row">
            <div class="col-5 entry-column">
                {{ exercise_form.name }}
            </div>
            <div class="col-4 entry-column">
                {{ exercise_form.type }}
                {{ exercise_form.goal }}
            </div>
            <div class="col  entry-column">
                <a href="#" onclick="submit_form()" class="url-link wo-button"><i
                        class="fa-solid fa-circle-plus"></i>Add</a>
            </div>
        </div>

        <div class="row">
            <div class="col-5 entry-column">
                <!-- place holder for layout consistency -->
            </div>
            <div class="col-4 entry-column">
                <!-- place holder for layout consistency -->
            </div>
            <div class="col entry-column">
                <a href="{% url 'home' %}" class="url-link wo-button">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</form>
<script>
    function submit_form() {
        document.forms[0].submit();
    }
</script>
{% endblock content %}