{% extends "base.html" %}
{% block title %}Edit Exercise Sets {% endblock title %}

{% block content %}
<h1>{{ workout_exercise_form.instance.workout.name }} : {{ exercise.name }}</h1>
<label for="wakelock_checkbox">Keep SCREEN AWAKE</label>
<input id="wakelock_checkbox" name="wakelock_checkbox" type="checkbox" value="unchecked">
<form action="{% url 'edit_exercise_set' workout_exercise_form.instance.id %}" method="POST">
    {% csrf_token %}
    <div hidden>
        {{ workout_exercise_form }}
    </div>
    {{ exercise_set_formset.management_form }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 entry-column">
                Repetitions
            </div>
            <div class="col-4 entry-column">
                Time
            </div>
            <div class="col entry-column">
                <!-- Placeholder-->
            </div>
        </div>
        {% for exercise_set_form in exercise_set_formset %}

        <div class="row">
            <div class="col-4">
                {{ exercise_set_form.reps }}
            </div>
            <div class="col-4">
                {{ exercise_set_form.time }}
            </div>
            {% if forloop.last %}
            <script>
                // The last field with time will be used to copy the results from the timer into,
                // when the stop button gets clicked
                // Also the stop_button_click() function will auto-submit this form
                let result_field_id = "{{ exercise_set_form.time.auto_id }}";
            </script>
            {% endif %}
            <div class="col">
                <a href="{% url 'delete_exercise_set' workout_exercise_form.instance.id exercise_set_form.instance.id %}"
                    class="url-link"><i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>

        {{ exercise_set_form.id }}
        {% endfor %}
    </div>
    <div class="container-fluid" style="margin-top: 10px;">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'add_exercise_set' workout_exercise_id=workout_exercise_form.instance.id workout_id=workout_exercise_form.instance.workout_id %}"
                    class="url-link wo-button">
                    <i class="fa-solid fa-circle-plus"></i>New
                </a>
            </div>
            <div class="col-4">
                <a href="{% url 'edit_workout' workout_exercise_form.instance.workout_id %}" class="url-link wo-button"
                    id="close-button">
                    <i class="fa-solid fa-circle-left"></i>Close
                </a>
            </div>
            <div class="col">
                <button type="send" class="wo-button">Save</button>
            </div>
        </div>
    </div>
</form>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-4">
            <button id="start-button" onclick="start_button_click(this)" class="wo-button"><i
                    class="fa-solid fa-play"></i>Timer</button>
        </div>
        <div class="col-4">
            <!-- Element that the timer uses for output -->
            <input type="text" id="timer-text" class="input-field">
        </div>
        <div class="col">
            <!-- Plaveholder -->
        </div>
    </div>
</div>

{% load static %}
<!-- Load javascript with the timer class -->
<script src="{% static 'js/timer.js' %}"></script>
<script>
    // Auto-save the form
    function submit_form() {
        document.forms[0].submit();
    }
    // Register if the button has already been clicked
    timer_button_clicked = false;
    // Event listener for the start/stop timer button
    function start_button_click(button) {
        if (timer_button_clicked) {
            timer.stop();
            submit_form();
        } else {
            timer_button_clicked = true;
            button.innerHTML = "<i class='fa-solid fa-stop'></i>Timer";
            timer.start();
        }
    }

    /* 
        Instanciate the timer
        First parameter in the constructor specifies the id of the element that the timer uses for output

        Second parameter in the constructor specifies the output field for the results. The id for this field
        was initialized in the inline script within the form : let reult_field_id = "{{ exercise_set_form.time.auto_id }}";

        Third parameter specifies the intervals in milliseconds in which the timer will be updated
    */
    let timer = new Timer("timer-text", result_field_id, 100);
    /*
       Wake Lock API
       Prevent screen from going to sleep mode
       Documentation with code-snippets on https://developer.chrome.com/en/articles/wake-lock/
   */
    // The wake lock sentinel.
    let wakeLock = null;

    // Function that attempts to request a screen wake lock.
    const requestWakeLock = async () => {
        try {
            wakeLock = await navigator.wakeLock.request();
            wakeLock.addEventListener('release', () => {
                console.log('Screen Wake Lock released:', wakeLock.released);
            });
            console.log('Screen Wake Lock released:', wakeLock.released);
        } catch (err) {
            console.error(`${err.name}, ${err.message}`);
        }
    };


     // If the checkbox is checked then wake-lock the screen
    document.getElementById("wakelock_checkbox").addEventListener("change", () => {
        // If the wakelock has not been activated
        if (wakeLock == null) {
            // Request a screen wake lock…
            requestWakeLock();
        } else {
            // If the wakelock is active, release the wakelock
            wakeLock.release().then(() => {
                wakeLock = null;
            });
        }
    });
</script>
{% endblock content %}