{% extends "base.html" %}
{% block title %}Edit Exercise Sets {% endblock title %}

{% block content %}
<h1>Edit {{ exercise.name }}</h1>
<form action="{% url 'edit_exercise_set' workout_exercise_form.instance.id %}" method="POST">
    {% csrf_token %}
    <div hidden>
        {{ workout_exercise_form }}
    </div>
    {{ exercise_set_formset.management_form }}

    <div class="row">
        <div class="col entry-column">
            Repetitions
        </div>
        <div class="col entry-column">
            Time
        </div>
        <div class="col entry-column">
            <!-- Placeholder for layout consistency -->
        </div>
    </div>
    {% for exercise_set_form in exercise_set_formset %}

    <div class="row">
        <div class="col">
            {{ exercise_set_form.reps }}
        </div>
        <div class="col">
            {{ exercise_set_form.time }}
        </div>
        {% if forloop.last %}
        <!-- The last field will be used to copy the results from the timer into-->
        <script>
            let result_field_id = "{{ exercise_set_form.time.auto_id }}";
        </script>
        {% endif %}
        <div class="col">
            <a href="{% url 'delete_exercise_set' workout_exercise_form.instance.id exercise_set_form.instance.id %}"
                class="url-link"><i class="fa-solid fa-trash-can"></i>Delete</a>
        </div>
    </div>

    {{ exercise_set_form.id }}
    {% endfor %}
    <div class="row">
        <div class="col md-2">
            <a href="{% url 'add_exercise_set' workout_exercise_id=workout_exercise_form.instance.id workout_id=workout_exercise_form.instance.workout_id %}"
                class="url-link wo-button">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
        <div class="col md-2">
            <a href="{% url 'edit_workout' workout_exercise_form.instance.workout_id %}" class="url-link wo-button">
                <i class="fa-solid fa-circle-left"></i>Cancel
            </a>
        </div>
        <div class="col md-2">
            <!-- Placeholder for layout constistency -->
        </div>
    </div>
</form>
<!-- Element that the timer uses for output -->
<input type="text" id="timer-text" style="width:200px;">
<button id="start-button" onclick="start_button_click()">SART</button>
<button id="start-button" onclick="pause_button_click()">PAUSE</button>
<button id="stop-button" onclick="stop_button_click()">STOP</button>
<button id="stop-button" onclick="reset_button_click()">RESET</button>
{% load static %}
<script src="{% static 'js/timer.js' %}"></script>
<script>
    
    // Auto-submit form
    function submit_form() {
        document.forms[0].submit();
    }

    // Event listener for the start button
    function start_button_click() {
        timer.start();

    }
    // Event listener for the stop button
    function stop_button_click() {
        timer.stop();

    }

    function reset_button_click() {
        timer.reset();
    }

    function pause_button_click() {
        timer.pause();
    }


    /* 
        Instanciate the timer
        First parameter in the constructor specifies the id of the element that the timer uses for output
    
        Second parameter in the constructor specifies the output field for the results. The id for this field
        was initialized in the inline script within the form : let result_id_field = "{{ exercise_set_form.time.auto_id }}";
    
        Third parameter specifies the intervals in milliseconds in which the timer will be updated
    */
    let timer = new Timer("timer-text", result_field_id, 100);
    
    // Functions for AUTO-SUBMITTING the form
    function getChangeableFields() {
        return document.getElementsByClassName('changeable-field');
    }

    function addOnValueChangedEventListeners() {
        changeable_fields = getChangeableFields();

        for (i = 0; i < changeable_fields.length; i++) {
            changeable_fields[i].addEventListener('input', function (event) {
                submit_form();
            });
        }
        
    }
    
    // Add event listeners to the forms from exercise_set_forms
    addOnValueChangedEventListeners();
</script>
{% endblock content %}