{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<h1>Workout Journal</h1>
{% load static %}
<img src="{% static '/img/istock_workout_cover.jpg' %}" alt="Image of people working out" style="width: 100px;">
<article>
    <h2>How to create your own list of <em>Exercises</em></h2>
    <p>
    <ol>
        <li>In the navigation bar, click on <em>Exercises</em></li>
        <li>Name your exercise, e.g. Push-Ups, Bicep Curl, .. </li>
        <li>Choose type
            <ul>
                <li>Strength - Exercises that involve weight lifting. </li>
                <li>Cardio - Cardio vascular exercises such as jogging</li>
            </ul>
        </li>
        <li>Choose goal
            <ul>
                <li>Repetitions - Time how many repetitions you can do within a certain period of time</li>
                <li>Distance - Time how long a distance you can traverse in a certain period of time</li>
            </ul>
        </li>

    </ol>
    </p>
</article>
{% endblock content %}