{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <a href="{% url 'edit_exercise_list' %}">
            <button class="wo-button">EDIT EXERCISES</button>
        </a>
    </div>
    <div class="row">
        <a href="{% url 'add_workout' %}">
            <button class="wo-button">ADD WORKOUT</button>
        </a>
    </div>
    <div class="row">
        <div class="col">
            Name
        </div>
        <div class="col">
            Date
        </div>
    </div>
    {% for workout in workout_list %}
    <div class="row">
        <div class="col">
            {{ workout.name }}
        </div>        
        <div class="col">
            {{ workout.date }}
        </div>
        <div class="col">
            <a href="{% url 'edit_workout' workout.id  %}">Edit</a>
        </div>
        <div class="col">
            <a href="{% url 'delete_workout' workout.id  %}">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}