{% extends "admin_base.html" %}

{% block content %}
<h1>Administration</h1>

<h3>Workouts of {{ user.username }}</h3>
{% for workout in workout_list %}

<div class="container-fluid">
    <div class="row data-row">
        <div class="col">
            {{ workout.id }}
        </div>
        <div class="col">
            {{ workout.name }}
        </div>
        <div class="col">
            <a href="{% url 'admin_workout_exercise_list' workout.id %}" class="url-link">Open</a>
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}