{% extends "admin_base.html" %}

{% block content %}
<h1>Administration</h1>
<form method="POST">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <label for="search_user" class="data-row">Search:</label>
            </div>
            <div class="col-6">
                <input type="text" id="search_user" name="search_user" placeholder="!Enter string in a username!"
                    class="input-field">
            </div>
            <div class="col">
                <input type="submit" value="Go" class="wo-button" style="margin-top:5px;">
            </div>
        </div>
    </div>
</form>
<h2>Create User</h2>
<form method="POST">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row data-row">
            <div class="col-2 offset-2">
                Username:
            </div>
            <div class="col input-field">
                {{ create_user_form.username }}
            </div>            
        </div>
        <div class="row data-row">
            <div class="col-2 offset-2">
                Password:
            </div>
            <div class="col input-field">
                {{ create_user_form.password1 }}
            </div>
        </div>
        <div class="row data-row">
            <div class="col-2 offset-2">
                Confirm password:
            </div>
            <div class="col input-field">
                {{ create_user_form.password2 }}
            </div>
        </div>
        <div class="row data-row">
            <div class="col-2 offset-2">
                <input type="submit" value="Create" class="wo-button">
            </div>
            <div class="col">
                <!-- Placeholder -->
            </div>
        </div>
    </div>
    </div>
</form>
<h2>Users</h2>
{% for user in page_obj %}
<div class="container">
    <div class="row data-row">
        <div class="col-2 centered-text">
            {{ user.id }}
        </div>
        <div class="col-6 centered-text">
            <a href="{% url 'admin_workout_list' user.id %}" class="url-link">{{ user.username }}</a>
        </div>
        <div class="col centered-text">
            <a class="url-link" href="#" data-bs-toggle="modal" data-bs-target="#modal{{user.id}}"><i
                class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>
</div>
<!-- Modal Structure : Confirm Delete -->
<div id="modal{{user.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete {{ user.username }}?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete {{ user.username }}?</h4>
                <p><i class="medium red material-icons">warning</i> <br>This action cannot be undone!
                </p>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'admin_delete_user' user.id %}"
                                class="url-link wo-button">Yes</a>
                        </div>
                        <div class="col">
                            <a href="#" class="wo-button url-link" data-bs-dismiss="modal">No</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <!-- Placehoder -->
    </div>
    <div class="col">
        <!-- Placehoder -->
    </div>
</div>
{% endfor %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <!-- Placeholder -->
        </div>
        <div class="col-6 centered-text">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1"><i class="fa-solid fa-backward-fast"></i></a>
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-backward"></i></a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-forward"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-forward-fast"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col">
            <!-- Placeholder -->
        </div>
    </div>
</div>
{% endblock content %}