.wo-button {
    border: 1px;
    border-style: groove;
    border-radius: 10px; 
    text-align: center;  
    width: 100%;
    background-color: #f4f6f8;
    color:rgb(55, 4, 125);
    border-color: rgb(55, 4, 125);
}
header {
    padding: 0;
}
#nav-bar {
    background-color: #d5e6ed;
    display: block;
    width: 100%;
    border:0;
    overflow: hidden;   
    text-align: center;  
}

.navigation-menu {
    list-style-type: none;
    direction: ltr;
    clear: both;  
    padding: 0;    
    margin:0 0 15px 0;   
    display: flex; 
}

.navigation-menu li {
    width: 23%;
    background-color: #e9eaeb;  
    margin: 1px; 
    display: inline-block; 
}

.navigation-menu li a{
    display: block;
}
.nav-link {
    display: inline;
    padding: 5px;
    margin: 0;
    font-size: 1em;
    color:rgb(6 8 148);
    width: 100%;
}
.data-header-row {
    background-color: #e9e8fc;
    border-style: ridge; 
    color:#3e3c58;
    font-weight: bold;
    font-size: 1.2em;
}
.data-row {
    background-color: #f0f6f8;
    border-style: groove;    
}

.right-separator {
    border-right: 2px solid #3e3c58;
    border-style: ridge;
}

a.url-link {
    text-decoration: none;
    color:rgb(55, 4, 125);   
    font-weight: bold; 
    display:inline-block;
}

i {
    margin: 3px;
}

.entry-column {
    background-color: #f0f6f8;
    margin: 2px;    
}

.text-field {
    color: #250645;
    font-weight: bold;
}

.input-field {
    width: 100%;
}

.pagination{
    display: flex;
    justify-content: center;
}

.step-links a{
    text-decoration: none;
    color:rgb(55, 4, 125);   
    font-weight: bold; 
    border: 1px solid;
}
